<section class="grid-main-content">
  <div class="container">

    <div id="cart-box">
      <div class="header">
        <i class="icon icon-contact" [inlineSVG]="'assets/images/svg/ico_location.svg'"></i>
        <span class="title">Contact</span>
      </div>

      <p>{{ contactDescription }}</p>

      <div class="header">
        <i class="icon icon-cart" [inlineSVG]="'assets/images/svg/ico_cart.svg'"></i>
        <span class="title">Cart {{ '(' + cartItems.length  + ')' }}</span>
      </div>

      <div class="cart">
        <div class="cart-item" *ngFor="let item of cartItems">
          <span class="item-id">{{ item.id }}</span>
          <span class="item-name">{{ item.title }}</span>
        </div>
      </div>

      <button class="mobile-btn" (click)="toggleSidebarCart()">
        <i class="icon icon-cart" [inlineSVG]="'assets/images/svg/ico_cart.svg'"></i>
      </button>
    </div>

  </div>
</section>
