<section class="grid-main-content">
  <div class="container">

    <div id="cart-box">
      <div class="header">
        <i class="icon icon-contact" [inlineSVG]="'assets/images/svg/ico_location.svg'"></i>
        <span class="title">Contact</span>
      </div>

      <p>Lorem ipsum dolor sit amet. Consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue augue.</p>

      <div class="header">
        <i class="icon icon-cart" [inlineSVG]="'assets/images/svg/ico_cart.svg'"></i>
        <span class="title">Cart (1)</span>
      </div>

      <div class="cart">
        <div class="cart-item">
          <span class="item-id">24</span>
          <span class="item-name">Top 10 eCommerce trends to follow in 2019</span>
        </div>
      </div>

      <button class="mobile-btn" (click)="toggleSidebarCart()">
        <i class="icon icon-cart" [inlineSVG]="'assets/images/svg/ico_cart.svg'"></i>
      </button>
    </div>

  </div>
</section>
