<section class="grid-main-content">
  <div class="container">

    <div id="products" *ngIf="products$">

      <ng-container *ngFor="let product of products$ | async">
        <a [routerLink]="product.id" class="product" >

          <div class="img-wrapper">
            <img [src]="product.image.src" [alt]="product.image.alt" />
          </div>

          <div class="descrpition-box">
            <h2 class="title">{{ product.title }}</h2>
            <span class="description">{{ product.description }}</span>

            <div class="show-more-btn">
              <i class="icon" [inlineSVG]="'assets/images/svg/ico_arrow.svg'"></i>
            </div>
          </div>

        </a>
      </ng-container>

    </div>

  </div>
</section>
