<section class="grid-main-content">
  <div class="container">

  <div id="contact">
    <h1>Contact</h1>

    <ul>
      <li>
        <div class="contact-row">
          <span>Tel.:</span>
          <a href="tel:123123123">123123123</a>
        </div>
      </li>
      <li>
        <div class="contact-row">
          <span>Mail:</span>
          <a href="mailto:jak.nowak@gmail.com">jak.nowak@gmail.com</a>
        </div>
      </li><li>
        <div class="contact-row">
          <span>Adress:</span>
          <span>ul. Piękna 35, Wrocław</span>
        </div>
      </li>
    </ul>
  </div>

  </div>
</section>
