<section class="grid-main-content">
  <div class="container">

  <div id="contact">
    <h1>Contact</h1>

    <ul>
      <li>
        <div class="contact-row">
          <span>Tel.:</span>
          <a [href]="'tel:' + contactData.telephone">{{ contactData.telephone }}</a>
        </div>
      </li>
      <li>
        <div class="contact-row">
          <span>E-mail:</span>
          <a [href]="'mailto:' + contactData.email">{{ contactData.email }}</a>
        </div>
      </li><li>
        <div class="contact-row">
          <span>Adress:</span>
          <span>{{ contactData.address }}</span>
        </div>
      </li>
    </ul>
  </div>

  </div>
</section>
