@import '../../../styles/lib';

:host {
  .grid-main-content {
    grid-template-columns: 0 1fr 72px;

    .container {
      #contact {
        text-align: center;

        h1 {
          margin-bottom: 25px;
          font-weight: font-weight(bold);
          text-transform: uppercase;
        }

        ul {
          border: 2px dashed color(gray);
          padding: 10px;

          li {
            &:last-of-type .contact-row { margin-bottom: 0; }

            .contact-row {
              margin-bottom: 10px;

              span:first-of-type {
                font-weight: font-weight(bold);
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
